

.menuBox{
    position: fixed;
    width: 170px;
    height: 100%;
    left: 0px;
    top: 0px;
    
    background: #1C5485;
    padding: 6px 15px
}
.logo{
    display : flex;
    height : 70px;
    width : 100%;
    align-items : center;
  
}

.menuBox ul{
    margin-top : 10px;
}

.menuBox .linkList i{
    position: relative;
    margin-left: 20px;
    font-size : 28px;
    margin-right: 10px;
    line-height: 60px;
}
.menuBox .linkList ol a{
    color : #fff;
    display: flex;
    align-items : center;
    text-decoration: none;
    transition: all 0.4s ease;
    width: 190px;
    margin-left : -90px;
    border-radius : 1px;
}

.menuBox .linkList ol a:hover{
    color : #000;
    background-color : #fff;
}

.info{
    position: absolute;
    width: 124px;
    height: 24px;
    left: 39px;
    bottom: 20px;

    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    display: flex;
    align-items: center;

    color: #FFFFFF;

}

